.navbar {
    background-color: #333;
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    text-color:#fff;

}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav li {
    margin: 0 1em;
    display: inline;
    text-decoration: #fff;
}
#footer {
    background-color: #222; 
    text-align: center;
    padding: 2em;
    width: 100%;
    color:#fff;
    position: relative;
    bottom: 0;


}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;

}
.portfolio-item p {
    margin-bottom: o.5em;
    color: #666;
}
.portfolio-item img {
    width: 100%;
    box-shadow: opx 2px 5px rgba(0, 0,0,0.1);
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
    padding 1 em;
}
.portfolio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.1);
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}
.portfolio-item h1{
    font-weight: bold;
    margin-bottom: 0.5em;
}
.portfolio-item h3{
    font-weight: bold;
    margin-bottom: 0.5em;
}
main {
    padding-top: 5em;
}
main section{
    padding: 2em 1em;
    text-align: center;
}
#home p {
  font-size: 1.2em; 
  color: #666; 
}
#home h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.portfolio-item:hover {
    transform: scale(1.05);
}
